---
import garden from "@constants/garden.json"
import links from "@constants/links.json"

import ToggleTheme from "@components/ToggleTheme.astro"
import GithubIcon from "./icons/GithubIcon.astro";

export interface NavLink {
    title: string;
    href: string;
}

const navLinks: NavLink[] = links.main
---

<header class="w-screen bg-transparent backdrop-blur fixed">
    <div class="flex justify-between mx-auto max-w-screen-xl p-3 md:p-6">
        <a href="/#" class=" flex-1">
            <span class="font-bold text-lg md:text-xl">Jane</span><span class="font-oskon text-lg md:text-xl"> / Digital Garden</span>
        </a>
        <div class="hidden md:flex flex-1 gap-3 content-center justify-center">
            {
                navLinks?.map((link) => (
                    <a href={link.href} class="hover:underline">{link.title}</a>
                ))
            }
        </div>
        <div class="flex flex-1 gap-3 justify-end">
            <a href={links.github} target="_blank">
                <div>
                    <GithubIcon/>
                </div>
            </a>
            <div>    
                <ToggleTheme/>
            </div>
        </div>
    </div>
    <div class="flex px-3 pb-3 text-xs w-screen justify-between md:hidden">
            {
                navLinks?.map((link) => (
                    <a href={link.href} class="hover:underline">{link.title}</a>
                ))
            }
    </div>
</header>